$borderRadius: 6px;
$borderWidth: 5px;

$invisibleCornerSize: 15px;
$invisibleBorderSize: 10px;
$halfInvisibleBorderSize: $invisibleBorderSize / 2;
$invisibleBorderOffset: $invisibleCornerSize;
$invisibleHorizontalBorderLength: calc(100% - $invisibleBorderOffset * 2);

$headerHeight: 30px;

$buttonSize: 20px;
$buttonGap: 5px;

.root {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
  border: 0;

  min-width: calc($buttonSize * 3 + $buttonGap * 2 + $invisibleBorderSize * 2 + $borderWidth * 2);
  min-height: calc($headerHeight + $invisibleBorderSize * 2 + $borderWidth * 2);

  transition: all 0.2s ease-in-out;

  &.minimized {
    min-height: calc($headerHeight + $borderWidth * 3);
  }

  .UTILITY_draggable_border {
    position: absolute;

    z-index: 1;

    &.minimized {
      display: none;
    }

    &.maximized {
      display: none;
    }
  }

  .northWestCorner {
    @extend .UTILITY_draggable_border;

    top: 0;
    left: 0;

    width: $invisibleCornerSize;
    height: $invisibleCornerSize;

    cursor: nwse-resize;
  }

  .northBorder {
    @extend .UTILITY_draggable_border;

    top: 0;
    left: $invisibleBorderOffset;

    width: $invisibleHorizontalBorderLength;
    height: $invisibleBorderSize;

    cursor: ns-resize;
  }

  .northEastCorner {
    @extend .UTILITY_draggable_border;

    top: 0;
    right: 0;

    width: $invisibleCornerSize;
    height: $invisibleCornerSize;

    cursor: nesw-resize;
  }

  .westBorder {
    @extend .UTILITY_draggable_border;

    top: $invisibleCornerSize;
    left: 0;

    width: $invisibleBorderSize;
    height: $invisibleHorizontalBorderLength;

    cursor: ew-resize;
  }

  .center {
    position: absolute;
    top: $halfInvisibleBorderSize;
    left: $halfInvisibleBorderSize;

    width: calc(100% - $invisibleBorderSize * 2);
    height: calc(100% - $invisibleBorderSize * 2);

    border: $borderWidth solid;
    border-radius: $borderRadius;

    z-index: 0;

    display: flex;
    flex-direction: column;

    &.minimized {
      left: 0;

      width: calc(100% - 2 * $borderWidth);
      height: $headerHeight;

      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      cursor: pointer;
    }

    &.maximized {
      top: 0;
      left: 0;

      width: calc(100% - 2 * $borderWidth);
      height: calc(100% - 2 * $borderWidth);

      border-radius: 0;
    }

    .header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $buttonGap;

      height: $headerHeight;
      line-height: $headerHeight;

      padding: 0 $borderWidth $borderWidth $borderWidth;

      cursor: move;

      &.minimized {
        padding: 0 $borderWidth 0 $borderWidth;

        cursor: pointer;
      }

      &.maximized {
        cursor: default;
      }

      .UTILITY_button {
        display: flex;
        align-items: center;

        height: $buttonSize;
        aspect-ratio: 1 / 1;

        cursor: pointer;

        opacity: 0.65;

        &:hover {
          opacity: 1;
        }
      }

      .closeButton {
        @extend .UTILITY_button;
      }
    }

    .content {
      width: 100%;
      height: calc(100% - #{$headerHeight});

      background-color: pink;

      &.minimized {
        display: none;
      }
    }
  }

  .eastBorder {
    @extend .UTILITY_draggable_border;

    top: $invisibleCornerSize;
    right: 0;

    width: $invisibleBorderSize;
    height: $invisibleHorizontalBorderLength;

    cursor: ew-resize;
  }

  .southWestCorner {
    @extend .UTILITY_draggable_border;

    bottom: 0;
    left: 0;

    width: $invisibleCornerSize;
    height: $invisibleCornerSize;

    cursor: nesw-resize;
  }

  .southBorder {
    @extend .UTILITY_draggable_border;

    bottom: 0;
    left: $invisibleBorderOffset;

    width: $invisibleHorizontalBorderLength;
    height: $invisibleBorderSize;

    cursor: ns-resize;
  }

  .southEastCorner {
    @extend .UTILITY_draggable_border;

    bottom: 0;
    right: 0;

    width: $invisibleCornerSize;
    height: $invisibleCornerSize;

    cursor: nwse-resize;
  }
}
